[submodule "repo/service.subtitles.localsubtitle"]
	path = repo/service.subtitles.localsubtitle
	url = https://github.com/peno64/service.subtitles.localsubtitle.git
[submodule "leia/script.module.pysubs2"]
	path = leia/script.module.pysubs2
	url = https://github.com/peno64/script.module.pysubs2.git
	branch = leia
[submodule "matrix/script.module.pysubs2"]
	path = matrix/script.module.pysubs2
	url = https://github.com/peno64/script.module.pysubs2.git
	branch = matrix
[submodule "repo/script.RealDebrid.vpn"]
	path = repo/script.RealDebrid.vpn
	url = https://github.com/peno64/script.RealDebrid.vpn.git
[submodule "repo/script.ezmaintenanceplus"]
	path = repo/script.ezmaintenanceplus
	url = https://github.com/peno64/script.ezmaintenanceplus.git
[submodule "repo/script.realdebrid"]
	path = repo/script.realdebrid
	url = https://github.com/peno64/script.realdebrid.git
[submodule "repo/service.subtitles.opensubtitles_by_opensubtitles_dualsub"]
	path = repo/service.subtitles.opensubtitles_by_opensubtitles_dualsub
	url = https://github.com/peno64/service.subtitles.opensubtitles_by_opensubtitles_dualsub.git
[submodule "repo/script.IPTVManager.Fix"]
	path = repo/script.IPTVManager.Fix
	url = https://github.com/peno64/script.IPTVManager.Fix.git
[submodule "repo/service.subtitles.opensubtitles-com_dualsub"]
	path = repo/service.subtitles.opensubtitles-com_dualsub
	url = https://github.com/peno64/service.subtitles.opensubtitles-com_dualsub
[submodule "matrix/service.subtitles.opensubtitles-com_dualsub"]
	path = matrix/service.subtitles.opensubtitles-com_dualsub
	url = https://github.com/peno64/service.subtitles.opensubtitles-com_dualsub
