[submodule "repo/service.subtitles.localsubtitle"]
	path = repo/service.subtitles.localsubtitle
	url = https://github.com/peno64/service.subtitles.localsubtitle.git
[submodule "leia/script.module.pysubs2"]
	path = leia/script.module.pysubs2
	url = https://github.com/peno64/script.module.pysubs2.git
	branch = leia
[submodule "matrix/script.module.pysubs2"]
	path = matrix/script.module.pysubs2
	url = https://github.com/peno64/script.module.pysubs2.git
	branch = matrix
[submodule "repo/script.RealDebrid.vpn"]
	path = repo/script.RealDebrid.vpn
	url = https://github.com/peno64/script.RealDebrid.vpn.git
