<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="General">
       <setting id="download_path" type="folder" label="Video Download Path" option="writeable" default=""/>
    </category>
    <category label="Internal">
       <setting id="rd_access" type="text" label="" option="hidden" enable="false" />
       <setting id="rd_refresh" type="text" label="" option="hidden" enable="false" />
       <setting id="rd_id" type="text" label="" option="hidden" enable="false" />
       <setting id="rd_secret" type="text" label="" option="hidden" enable="false" />
    </category>
</settings>